/* preloader */
body{
    width: 99%;
    overflow-x: hidden;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 10px solid #daff76;
    border-top: 10px solid #ef76ff;
    border-bottom: 10px solid #ed68ff;
    border-radius: 48%;

    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:#000000;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
 }
/* preloader */


/* custom scroll, probably wont use due to "Custom scrollbars are not supported in Firefox or in Edge"

// width 
::-webkit-scrollbar {
  width: 15px;
}

// Track 
::-webkit-scrollbar-track {
  background: #000000; 
}
 
// Handle 
::-webkit-scrollbar-thumb {
  background: #54009c; 
}

// Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background:#873bca; 
}
*/




body {
  background-color: black;
  background-position: top center;
  overflow: scroll;
  overflow-x: hidden;
}



video {
  object-fit: cover;
  width: 98.5vw;
  height: 96.1vh;
  top: 0;
  left: 0;
  padding-bottom: 10px;
}

.xtraStyling {
  position: relative;
  text-align: center;
  color: #daff76;
}


.bottom-left {
  position: absolute;
  bottom: 3px;
  left: 45%;
  font-family: tComesT;
  font-size: 30px;
  background-color:#daff7642;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}


.bottom-left2 {
  position: absolute;
  bottom: 3px;
  left: 45%;
  font-family: tComesT;
  font-size: 30px;
  transform: translate(-50%, -50%);
}

.bottom-right {
 position: absolute;
  bottom: 3px;
  left: 55%;
  font-family: tComesT;
  font-size: 30px;
  transform: translate(-50%, -50%);
}


.bottom-right2 {
 position: absolute;
  bottom: 3px;
  left: 55%;
  font-family: tComesT;
  font-size: 30px;
  background-color:#daff7642;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}


.bottom-center {
  position: absolute;
  bottom: 3px;
  left: 50%;
  font-family: tComesT;
  font-size: 30px;
  transform: translate(-50%, -50%);
}

.bottom-center2 {
  position: absolute;
  bottom: 3px;
  left: 50%;
  font-family: tComesT;
  font-size: 30px;
  background-color:#daff7642;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}


.top-left {
  position: fixed;
  top: 8px;
  left: 16px;
  font-family: tComesT;
}

.top-right {
  position: fixed;
  top: 8px;
  right: 16px;
  font-family: tComesT;
}


.banner {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  font-size: 1000%;
  font-family: oldNewspaper;
  font-weight: 900;
  color: #daff76
} 

.banner2 {
  font-size: 50px;
  font-family: oldNewspaper;
  font-weight: 900;
  color: #daff76
} 

.banner2 {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.scrollDown {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
}

 @font-face {
    font-family: 'typewriter';
    src: url('momsTypewriter.woff2') format('woff2'),
        url('momsTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}          /* First Font Idea   */       

 @font-face {
    font-family: 'jAnotherC';
    src: url('justAnotherCourier.woff2') format('woff2'),
        url('justAnotherCourier.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}         /* Second Font Idea  */     



@font-face {
    font-family: 'tComesT';
    src: url('tomorrowComesToday.woff2') format('woff2'),
        url('tomorrowComesToday.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}        /* Third Font Idea. */    

@font-face {
    font-family: 'oldNewspaper';
    src: url('oldNewspaperTypes.woff2') format('woff2'),
        url('oldNewspaperTypes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}        /* 4th Font Idea. */    

@font-face {
    font-family: 'contact';
    src: url('TheBattleContinuez.woff2') format('woff2'),
        url('TheBattleContinuez.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


a:link {
  text-decoration: none;
  color: #daff76;
}

a:visited {
  text-decoration: none;
  color: #daff76;
}

a:hover {
  text-decoration: none;
  background-color: #daff76;
  color: #54009c;
  padding: 1px;
  border-radius: 3px;
}

a:active {
  text-decoration: none;
  background-color: #daff76;
  color: #54009c;
  padding: 1px;
  border-radius: 3px;
}

.navStyle {
  font-size: 24px;
}


.contactsHeader {
  color: #ef76ff;
  position: absolute;
  top: 15%;
  left: 50%;
  font-family: contact;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.contact1 {
  color: #ef76ff;
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: tComesT;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.contact2 {
  color: #ef76ff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: tComesT;
  font-size: 24px;
  transform: translate(-50%, -50%);
}


.contact3 {
  color: #ef76ff;
  position: absolute;
  top: 70%;
  left: 50%;
  font-family: tComesT;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.bannerContact{
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerContact{
  font-size: 50px;
  font-family: oldNewspaper;
  font-weight: 900;
  color: #daff76
} 

.container {
  height: 520px;
  position: relative;
}

.aboutHeader {
  position: absolute;
  top: 0px;
  left: 96px;
  font-size: 90px;
  font-family: oldNewspaper;
  color: #b676ff;
}

.about {
  position: absolute;
  top: 110px;
  left: 16px;
  font-size: 26px;
  font-family: tComesT;
  color: #b676ff;
  text-align: left;
}

.homePict {
  position: absolute;
  top: 45px;
  right: 36px;
  padding: 5px;
  border-radius: 5px;
  background-color: #b676ff;
}

.containerPageTwo {
  height: 850px;
  position: relative;
}

.pictures1 {
  position: absolute;
  top: 45px;
  left: 36px;
}


.pictures2_1 {
  position: absolute;
  top: 45px;
  left: 636px;
}

.pictures2_2 {
  position: absolute;
  top: 475px;
  left: 636px;
}


.pictures3 {
  position: absolute;
  top: 45px;
  left: 1236px;
}