
body {
  background-color: black;
  background-position: top center;
  overflow: scroll;
}

video {
  object-fit: cover;
  width: 98.5vw;
  height: 97vh;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  font-size: 1000%;
  font-family: tComesT;
  font-weight: 0;
  color: greenyellow
} 

/* @font-face {
    font-family: 'typewriter';
    src: url('MomsTypewriter.woff2') format('woff2'),
        url('MomsTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}           First Font Idea            */

/* @font-face {
    font-family: 'jAnotherC';
    src: url('font2.woff') format('woff2'),
        url('font2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}         Second Font Idea          */


/*
@font-face {
    font-family: 'tComesT';
    src: url('font3.woff') format('woff2'),
        url('font3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}         Third Font Idea.          */




